WebTech.Backend/.idea
Webtech.Backend/.idea/
Webtech.Backend/WebTech.ArticleApi/appsettings.json
Webtech.Backend/WebTech.AuthAPI/appsettings.json
Webtech.Backend/WebTech.FeedbackAPI/appsettings.json
Webtech.Backend/WebTech.NotificationsApi/appsettings.json
Webtech.Frontend/.idea
Webtech.Frontend/.idea/

