.loader {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid black;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}